<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students Form</h1>
    <form method="post" action="store-students">
            <input type="text" placeholder="Enter Students Name" name="name" /><br><br>
            <input type="number" placeholder="Enter Students age" name="age" /><br><br>
            <input type="email" placeholder="Enter Students Email" name="email" /><br><br>
             <button>Submit</button>
            </form>
</body>
</html>