<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students Update Form</h1>
    <form method="post" action="">
            <input type="text" placeholder="Enter Students Name" name="name" value="<%= result.name  %>" /><br><br>
            <input type="number" placeholder="Enter Students age" name="age" value="<%= result.age  %>" /><br><br>
            <input type="email" placeholder="Enter Students Email" name="email" value="<%= result.email  %>"/><br><br>
             <button>Update</button>
            </form>
</body>
</html>